// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.aboutpage{
    margin-top:2%;
    margin-bottom:2%;
   border-radius:6%;
background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,0.8) 32%, rgba(188,211,235,0.8) 100%);
    height:73vh;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 15px 10px;
    
}
.jos{
    padding-top:5%;
}
.www{
     
     
   left:0;
   bottom:0;
    background-color: rgba(0, 0, 0, 0.8) ;
      position:fixed;
      z-index:-1;
      width:100%;
      
      
    
    padding-top:15px;
    padding-bottom:1px;
    
}

.licenta{
    text-shadow: 3px 2px 13px rgba(8,2,8,1);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.2em;
    color:white;
   margin-left:10px;
   margin-right:10px;
    display:flex;
    justify-content: space-between;
}

.aboutpageback{
    
    z-index:-1;
  position:fixed;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('1050172.jpg');
  
  background-position: center ;
  background-repeat: no-repeat ;
  background-size: cover ;
}


.airplane{
    padding-top:5%;
    display:flex;
    margin-left:6%;
    justify-content:space-between;
    margin-right:6%;
    padding-bottom:6%;
    
    
}

.salary{
    display:flex;
    margin-left:6%;
    justify-content:space-between;
     margin-right:6%;
     padding-bottom:6%;
    
}


.secure{
    display:flex;
    margin-left:6%;
    justify-content:space-between;
     margin-right:6%;
     padding-bottom:6%;
     
}


.smiley{
    display:flex;
    margin-left:6%;
    justify-content:space-between;
     margin-right:6%;
     padding-bottom:6%;
    
}

.textaboutpagelogo{
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size:2em;
     box-shadow: inset 0 0 0 0 #54b3d6;
     border-radius:15px;
 color:#636363;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}



.textaboutpagelogo:hover {
     color:#6b4606;
  box-shadow: inset 1000px 0 0 0 #28e2cc;
}

.aboutpagelogosus{
    
    transition: all 1s ease-in-out;
    
}
.aboutpagelogosus:hover{
    transform: translateY(-15px);
    
}