// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.tripspageback{
    
    z-index:-1;
  position:fixed;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('1050172.jpg');
  
  background-position: center ;
  background-repeat: no-repeat ;
  background-size: cover ;
}

.trips{
      
   
    background: rgba(255, 255, 255, 0.7);
    padding-bottom: 10px;
}